In [4]:
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import altair as at
import yfinance as yf

In [5]:
st.title('米国株価可視化アプリ')

DeltaGenerator()

In [6]:
%matplotlib inline

In [9]:
yf.Ticker('AAPL')

yfinance.Ticker object <AAPL>

In [10]:
yf.history

AttributeError: module 'yfinance' has no attribute 'history'

In [11]:
aapl = yf.Ticker('AAPL')

In [18]:
days = 20
hist = aapl.history(period=f'{days}d')

In [19]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-20 00:00:00-04:00,165.860576,167.638116,165.331309,166.419800,52456400,0.00,0.0
2023-04-21 00:00:00-04:00,164.822026,166.220086,164.262802,164.792068,58337300,0.00,0.0
2023-04-24 00:00:00-04:00,164.772093,165.371270,163.663625,165.101639,41949600,0.00,0.0
2023-04-25 00:00:00-04:00,164.961829,166.080278,163.503839,163.543793,48714100,0.00,0.0
2023-04-26 00:00:00-04:00,162.834768,165.051703,162.575133,163.533798,45498800,0.00,0.0
2023-04-27 00:00:00-04:00,164.961830,168.327170,164.961830,168.177383,64902300,0.00,0.0
2023-04-28 00:00:00-04:00,168.257274,169.615396,167.648116,169.445618,55209200,0.00,0.0
2023-05-01 00:00:00-04:00,169.046174,170.214556,168.407059,169.355743,52472900,0.00,0.0
2023-05-02 00:00:00-04:00,169.855052,170.114703,167.308571,168.307190,48425700,0.00,0.0
2023-05-03 00:00:00-04:00,169.265876,170.683912,166.929111,167.218704,65136000,0.00,0.0
2023-05-04 00:00:00-04:00,164.662239,166.809263,164.083038,165.560989,81235400,0.00,0.0
2023-05-05 00:00:00-04:00,170.743827,174.059249,170.524130,173.330261,113316400,0.00,0.0
2023-05-08 00:00:00-04:00,172.241750,173.609868,171.872266,173.260345,55962800,0.00,0.0
2023-05-09 00:00:00-04:00,172.810976,173.300290,171.362982,171.532745,45326900,0.00,0.0
2023-05-10 00:00:00-04:00,172.781019,173.789619,171.662556,173.320267,53724500,0.00,0.0
2023-05-11 00:00:00-04:00,173.609878,174.348846,171.932190,173.510010,49514700,0.00,0.0
2023-05-12 00:00:00-04:00,173.619995,174.059998,171.000000,172.570007,45497800,0.24,0.0
2023-05-15 00:00:00-04:00,173.160004,173.210007,171.470001,172.070007,37266700,0.00,0.0
2023-05-16 00:00:00-04:00,171.990005,173.139999,171.800003,172.070007,42110300,0.00,0.0
2023-05-17 00:00:00-04:00,171.710007,172.929993,170.419998,172.690002,57913300,0.00,0.0